.wishlist-main-container {
    display: flex;
    background-color: var(--darkgrey);
    /* height: 1000px; */
}

.wishlist-inner-container {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    margin: 50px;
    padding: 15px;
}

.wishlist-list-container {
    display: flex;
    flex-direction: column;
    align-items:left;
    background-color: var(--darkgrey);
    border-radius: 1px;
    border: 1.5px solid var(--red);
    width: 500px;
}

.wishlist-title {
    background-color: var(--white);
    border-radius: 1px;
    border: 1.5px solid var(--red);
    width: 200px;
    padding: 5px;
}
