/* TODO Add site wide styles */
.create-update-buttons {
    color: rgb(207, 204, 204);
    border: 1.5px solid red;
    border-radius: 4px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

.create-update-buttons:hover {
    color: red;
    border: 1.5px solid red;
}
