/* TODO Add site wide styles */


:root {
  --red: #DA0037;
  --black: #171717;
  --grey: #444444;
  --white: #EDEDED;
}

.create-update-buttons {
    text-decoration: none;
    color: var(--red);
    border: 1.5px solid var(--red);
    border-radius: 4px;
    background-color: solid var(--black);
    text-align: center;
    margin: 10px;
    padding: 8px;
}

.create-update-buttons:hover {
    color: var(--white);
    box-shadow: 10px, 10px, 5px var(--grey);
    border: solid var(--white);
    cursor: pointer;
}

button.secondary {
    text-decoration: none;
    color: rgb(207, 204, 204);
    border: 1.5px solid var(--red);
    border-radius: 4px;
    background-color: black;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
  }

  .form-errors {
    color: var(--red);
    font-size: 15px;
  }
