.inventory-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    height: 220px;
    background-color: black;
    align-items: center;
}

.button {
    color: var(--white);
    border: 1.5px solid var(--red);
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.button:hover {
    color: var(--red);
}
