html, body
{
    /* height: 100%; */
    /* width: 100%; */
    margin: 0px;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navContainer li {
  list-style-type: none;
}

.profileButton {
  float: right;
  margin-right: 120px;
  margin-top: 15px;
}

.inventory-profile-container{
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1.5px solid black;
  background-color: black;
}

