.decks-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: var(--grey);
    padding-bottom: 10px;
}

.decks-inner-container {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    background-image: url("https://images.alphacoders.com/265/265693.png");
    background-size: cover;
}

.decks-display-container {
    display: grid;
    border: 1px solid var(--white);
    box-shadow: 0px 0px 3px 2px rgba(207, 204, 204, 0.488);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 15px;
    row-gap: 40px;
    margin: 80px;
    background-color: var(--darkgrey);
}

.deck-details {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.users-decks {
    color: black;
    background-color: var(--red);
    font-size: 40px;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.create-deck {
    color: rgb(207, 204, 204);
    border: 3px solid var(--grey);
    border-radius: 4px;
    background: linear-gradient(#78cc78, #489b48 50%, #236323);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    /* background-color: black; */
    padding-bottom: 3px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 20px;
}

.decks-list-names {
    color: var(--blue);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 10px;
    width: 200px;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}


.deck-description {
    color: rgb(207, 204, 204);
    background-color: rgb(57, 57, 57);
    width: 190px;
    height: 50px;
    word-wrap: break-word;
    overflow:hidden;
    padding: 5px;
    border: 1px rgb(207, 204, 204);
    border-radius: 6px;
    text-align: left;
}

.create-deck:hover {
    border: 3px solid var(--grey);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: linear-gradient(#236323, #489b48 50%, #78cc78);
}

.decks-list-names:hover {
    color: var(--white);
    /* border: 1.5px solid red; */
    box-shadow: 0px, 0px, 3px solid red;
}
