.deck-details-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
    margin-top: -18px;
}

.decks-details {
    background-color: rgb(207, 204, 204);
    border-radius: 1px;
    border: 1.5px solid red;
    font-size: 14px;
    text-align: left;
    height: 40px;
    padding: 5px;
}

.decks-name {
    background-color: rgb(207, 204, 204);
    border-radius: 1px;
    border: 1.5px solid red;
    padding: 8px;
}

.deck-details-list {
    display: flex;
    flex-direction: row;
}

.deck-card-list {
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    border: 1.5px solid red;
    background-color: rgb(207, 204, 204);
    border-radius: 5px;
}

.deck-card {
    background-color: rgb(207, 204, 204);
}

.deck-details-title {
    background-color: rgb(207, 204, 204);
}

.deck-card:hover {
    color: red;
    cursor: default;
}
